body {
  background-color: #000;
  font-family: sans-serif;
}

#landing-header {
  z-index: 1;
  position: absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#landing-header span {
  text-transform: uppercase;
  display: block;
  
}

.welcome{
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  position:relative;
  animation: text 3s 1;
}

.view-btn:hover{
  color: #000000;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #1E90FF !important;
}


.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(/img/Assassins.jpg); 
}
.slideshow li:nth-child(2) { 
  background-image: url(/img/Rainbow.jpg); 
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/img/forhonor.jpg); 
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/img/far.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/img/video.jpg);
  animation-delay: 40s; 
}

@keyframes text { 
  0% { 
    color:black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 0px;
    margin-bottom: 40px;
  }
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}