
/*   Layout   */
.flex-wrap{
    display:flex;
    flex-wrap:wrap;
}

a:hover{
    text-decoration: none;
}

/*Jumbotron*/

.jumbotron{
    background-position: top;
    background-size: 100%;
    background-image: linear-gradient(-255deg, rgba(255, 255, 255, 0.9), 0%, rgba(238, 238, 238, 0.9), 40%, transparent 50%), url("https://images.unsplash.com/photo-1512429234305-12fe5b0b0f07?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80");
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.jumbotron h1, p{
    color: black;
}

.form-inline .form-control {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}
/*Thumbnail*/
.thumbnail img {
    width: 100%;
    
}

.thumbnail{
    padding:0;
}

.thumbnail .caption-full {
    padding: 9px;
}


/*Games*/

.games{
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
    
}
.games *{
    box-sizing: border-box;
    transition: all .35s ease-in-out;
}
.games:hover img{
    opacity: 0.3;
    filter: grayscale(100%);
}
.games a{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10%;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    width: 8rem;
    height: 30px;
    line-height: 30px;
    background: #b1d6e2;
    text-decoration: none;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.games a:hover{
    background: #ffba00;
}
.games:hover a{
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}





#delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.checked {
    color: #ffba00;
}

.list-group-item .thumbnail {
    width: 100%;
}