<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Game Review!</h1>
             <p>View our hand-picked games from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/games/new">Add New game</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% games.forEach(function(game){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= game.image %>">
                   <div class="caption">
                       <h4><%= game.name %></h4>
                   </div>
                   <p>
                       <a href="/games/<%= game._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
